h1{
	color: red;
	margin: 40px;
	font-size: 48px;
	font-weight: bolder;
}
h2{
	color: #076f7f;
	text-align: center;
}
section{
	background-color: #f7a48b;
	margin: 20px;
	border-radius: 5%;
}
.contenedor{
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 5%;
	margin: 10px;
	div{
		display: flex;
		justify-content: center;
		button{
			color: white;
			width: auto;
			margin: 10px 0 10px 0;
		}
	}
}
